<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

  <title>Refaccionaria</title>
  {{ style('style') }}
</head>
<body>
  <section>
    
    <div class="subtitle">
      <h1>ADMINISTRADOR DE REFACCIONARIA</h1>
      <p>Bienvenido!</p>
      <p>
       por favor selecciona una opcion
      </p>
    </div>
  <a class="waves-effect waves-light btn" href="cliente">ir a clientes</a>
  <a class="waves-effect waves-light btn" href="factura">ir a facturas</a>
  <a class="waves-effect waves-light btn" href="hojaDeParte">ir a hojas de partes</a>
  <a class="waves-effect waves-light btn" href="mecanico">ir a macanicos</a>
  <a class="waves-effect waves-light btn" href="mecanicos_vehiculo">ir a registros de mecanicos y vehiculos</a>
  <a class="waves-effect waves-light btn" href="repuesto">ir a repuestos</a>
  <a class="waves-effect waves-light btn" href="vehiculo">ir a vehiculos</a>


  </section>
</body>
</html>
